*{
	margin: 0;
	padding: 0;
	list-style: none;

}

body{
	background:url(img/white-concrete-wall-textures.jpg)
}

h3{
	border-bottom: 1px solid #75A9FF;
	font-size: 25px;
}

.wrapper{
	width: 80%;
	margin: 0 auto;
}

/*---Header---*/
.header{
	width: 100%;
	height: 40px;
	display: block;
	background: #101010;
}

.header_container{
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
}


.navigation{
	height: 100%;
	float: right;
}


.navigation a{
	height: 100%;
	display: table;
	float: left;
	padding: 0 20px;
	text-decoration: none;
}

.navigation a li{
	display: table-cell;
	vertical-align: middle;
	color: 	#DDDDDD;
	transition: all 0.3s ease 0s;
}

.navigation a li:hover{
	background-color: #C0C0C0;
	color: #333333;
}

/*--Logo--*/
.logo h1{
	font-size: 40px;
}

/*---Menu bar---*/

.menu{
	width: 100%;
	height: 40px;
	display: block;
	background: #EEFFFF;
	margin-bottom: 20px
}

.menu_container{
	height: 100%;
	display: block;
	margin: 0 auto;
}

.menu_navigation{
	height: 100%;
	float: left;
}

.menu_navigation a{
	height: 100%;
	display: table;
	float: left;
	padding: 0 20px;
	text-decoration: none;
}

.menu_navigation a li{
	display: table-cell;
	vertical-align: middle;
	color: black;
	font-weight: bold;
	transition: transform 0.2s;
}

.menu_navigation a li:hover{
	transform: scale(1.5);
}

/*--Main--*/
.main{
	background-color: white;
}

.main_container{
	padding: 20px;
}

.product_left{
	float: left;
}

.product_left img{
	height: 390px;
	width: 250px;
}

.product_right{
	width: 780px;
	float: left;
	padding-left: 20px;
}

.price h4{
	color: red;
	padding: 20px 0;
}

.addButton{
	text-align: center;
	border: 0.5px solid #75A9FF;
}

.addButton .btn{
	width: 300px;
  padding: 10px;
	margin: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #68779a;
	border-radius: 5px;
  cursor: pointer;
	color: blue;
	font-size: 20px;
	font-weight: 800;
	background-color: #EEEEEE;
	transition: all 0.3s ease 0s;
}

.addButton .btn:hover{
	background-color: #66CCFF;
	color: #F0F8FF;
}

.product_details{
	margin: 20px 0;
}
.product_details th{

	text-align: left;
}

.similar_product_lists{

}

.list{
	float:left;
	width: 250px;
	margin: 10px;
	border: 0.5px solid #75A9FF;
	text-align: center;
}

.list img {
	width: 150px;
	height: 150px;
	margin-top: 20px;
}

.btn_similar{
	width: 70px;
	margin-bottom: 10px;
	cursor: pointer;
}

.clear{
	clear: both;
}

footer{
	margin-top: 20px;
	background-color: black;
	color: #DDDDDD;
	text-align: center;
	font-style: italic;
	font-weight: 400;
}
